@model SistemaBiblioteca.Models.Pedidos

@{
    ViewData["Title"] = "Create";
}

<h1>Novo</h1>

<h4>Pedidos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPessoa" class="control-label"></label>
                <input asp-for="IdPessoa" class="form-control" />
                <span asp-validation-for="IdPessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLivro" class="control-label"></label>
                <input asp-for="IdLivro" class="form-control" />
                <span asp-validation-for="IdLivro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEmprestimo" class="control-label"></label>
                <input asp-for="DataEmprestimo" class="form-control" />
                <span asp-validation-for="DataEmprestimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
